<html>
	<head>
		<title>图书管理系统 - 首页</title>
		<link type="text/css" rel="stylesheet" href="/static/css/common.css" />
		<link type="text/css" rel="stylesheet" href="/static/css/templatemo_style.css" />
	</head>

                <body background="/static/image/eg_background.jpg">
		<div id="templatemo_container">
			<div id="templatemo_menu">
    			<ul>
                		<li><a href="/index/" >首页</a>
                		<li><a href="/search/" >搜索图书</a>
                		<li><a href="/book/">添加图书</a>
                		<li><a href="/author/">添加作者</a>
			</ul>
			</div>
		</div>
		<div id="box" align="center">
    			<img src="/static/image/templatemo_header_bg_blank.jpg"/>
		</div>
	<h1 align="center">{{ book.Title }}详细信息</h1>
	<table align="center" id="customers">
		<th>书号</th>
		<th>书名</th>
		<th>出版社</th>
		<th>出版日期</th>
		<th>价格</th>
		<th>操作</th>
        		<tr>
        		<th>{{ book.ISBN }}</th>
			<th>{{ book.Title }}</th>
        		<th>{{ book.Publisher }}</th>
			<th>{{ book.PublishDate }}</th>
        		<th>{{ book.Price }}</th>
			<th> <button name="change" value="change"><a href="/change/?q={{ book.ISBN }}" style="text-decoration:none">修改</a></button>
			</td>
    			</tr>
	</table>
	<h2 align="center">本书作者详情</h2>
	<table align="center" id="customers">
		<th>姓名</th>
		<th>年龄</th>
		<th>国籍</th>
		{% for author in authors %}
        		<tr>
        		<td>{{ author.Name }}</td>
        		<td>{{ author.Age }}</td>
			<td>{{ author.Country }}</td>
    			</tr>
		{% endfor %}
	</table>
	<div align="center">
	<button name="delete" value="delete"><a href="/index/?s={{ book.ISBN }}" style="text-decoration:none">确认删除</a>
        <button name="return" value="return"><a href="/index/" style="text-decoration:none">取消删除</a>
	</div>
	</form>
	</body>

</html>