<html>
	<head>
		<title>图书管理系统 - 添加作者</title>
	<link type="text/css" rel="stylesheet" href="/static/css/templatemo_style.css" />
	</head>

                <body background="/static/image/eg_background.jpg">
		<div id="templatemo_container">
			<div id="templatemo_menu">
    			<ul>
                		<li><a href="/index/" >首页</a>
                		<li><a href="/search/" >搜索图书</a>
                		<li><a href="/book/">添加图书</a>
                		<li><a href="/author/">添加作者</a>
			</ul>
			</div>
		</div>
		<div id="box" align="center">
    			<img src="/static/image/templatemo_header_bg_blank.jpg"/>
		</div>
	<div align="center">
   	<h1 align="center">添加作者</h1>
        <form method="post" action="" align="center">

             <table align="center">
   
                  {{ aauthor }}
 
             </table>
  
	</br> 
        <input type="submit" value="保存"/>
  
             <div>{{ msg }}</div>
 
         </form>
	</div> 
        </body>

</html>

